@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


:root{
    --box-shadow:rgba(0,0,0,0.16) 0px 1px 4px;
}

*{
    margin:0px;
    padding:0px;
    font-family: 'Poppins','sans-serif';
    list-style: none;
}
main{
    display:grid;
    grid-template-columns: 0.5fr 2fr;
    background-color: #F5F7FA;
}
.container{
    padding-bottom:50px;
}
.logo-section{
    display:flex;
    background-color:#2d2d2d;
    color:white;
    padding-left:20px;
    font-size:25px;
    border-bottom:1px solid grey;
}
.logo-section img{
    width:40px;
    height:50px;
}
.sidebar{
    background-color:#2d2d2d;
}
.dashboard{
    color:white;
    z-index:1000;
    min-height: 100vh;
}
.time-display{
    margin-top:30px;
    padding-left:10px
}
.time-display .date{
    font-size:16px;
}
.time-display .time{
    font-size:30px;
}
.dashboard ul{
    margin-top:10px;
    padding-left:10px;

}
.dashboard ul li{
    display:flex;
    padding:10px;
    margin-right:10px;
}
.dashboard ul li.active{
    cursor:pointer;
    background-color: #FFFFFF;
    color:black;
}
.dashboard ul li:hover{
    cursor:pointer;
    background-color: #FFFFFF;
    color:black;
}
.dashboard a{
    color:white;
    text-decoration: none;
}
.title{
    font-size:20px;
    margin-left:10px;
}
.menu,.orders,.dashicon,.log-out,.users,.settings{
    margin-top:6px;
    font-size:20px;
}
.user-description{
    background-color:#FFFFFF;
    box-shadow: var(--box-shadow);
    padding:15px;
    margin-top:10px;
    margin-left:10px;
}
.user-description h1{
    font-size: 25px;
    color:black;
}
.activity-section{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1.5fr;
    background-color:#F5F7FA;
    margin-top:40px;
}
.total-orders-box,.total-customers-box,.total-invoice-box{
    background-color: #FFFFFF;
    box-shadow: var(--box-shadow);
    height:220px;
    width:200px;
    display:flex;
}
.total-orders-box{
    margin-left:20px;
}
.total-invoice-box{
    margin-left:-20px;
}
.orders-icon,.customers-icon,.invoice-icon{
    font-size:40px;
}
.orders-icon{
    color:rgb(240, 240, 24);
}
.customers-icon{
    color:#2666CF;
}
.invoice-icon{
    color:orangered;
}
.text-info{
    display:flex;
    flex-direction:column;
    margin:auto;
    justify-content: center;
    align-items: center;
}
.text-info h1{
    margin-top:10px;
    font-size:25px;
}
.text-info p{
    font-weight: bolder;
}
.statistics-box{
    width:300px;
    height:260px;
    background-color: #FFFFFF;
    box-shadow: var(--box-shadow);
    margin-left:-20px;
}
.statistics-box h1{
    text-align:center;
    font-size:20px;
    margin-top:10px;
}
.statistics-box p{
    margin:20px;
    padding:10px 20px;
    box-shadow: var(--box-shadow);
    font-size:18px;
    border-radius:2px;
    text-align:center;
}

.statistics-box p.balance{
   background-color:#fff2dd92;
   border-right:10px solid #F6C065;
}
.statistics-box p.income{
    background-color:#e7fff1ad;
    border-right:10px solid #16c77a;
}
.statistics-box p.expense{
    background-color:#ffeef0bb;
    border-right:10px solid #EB596E;
}

.stats-section{
    display:grid;
    grid-template-columns: 1fr 2fr;
    margin-top:20px;
    min-height:30vh;
}
.top-cashiers-box{
    width:300px;
    margin-left:20px;
    min-height:40vh;
    background-color:#FFFFFF;
    box-shadow: var(--box-shadow);
}
.top-cashiers-box h1{
    text-align:center;
    margin-top:10px;
    font-size:25px;
    text-decoration: underline;
}
.best-cashiers-box{
    margin-top:10px;
}
.best-cashier{
    display:flex;
    justify-content: space-between;
    border-bottom:1px solid #dce0e7;
    cursor: pointer;
    padding-top:5px;
}
.best-cashier:hover{
    background-color: #dce0e7;
}
.selling-cashier-firstBox{
    display:flex;
    margin-left:10px;
}
.selling-cashier-firstBox .cashier-icon{
    font-size:50px;
}
.firstBox-info .name{
    font-size:16px;
}
.firstBox-info .customer{
    font-size:13px;
}
.selling-cashier-secondBox p{
    margin-right:20px;
    margin-top:10px;
}
.selling-cashier-secondBox .highest-cashier{
   font-size:25px;
   color:#16c77a;
}
.top-selling-box{
    width:98%;
    min-height:30vh;
    background-color:#FFFFFF;
    box-shadow: var(--box-shadow);
}
.top-selling-box h1{
    font-weight: lighter;
    font-size:25px;
    background-color: #dce0e7;
    padding:10px;
}
.top-selling-products-box{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left:30px;
    margin-top:10px;
}
.first-selling-category,.second-selling-category,.third-selling-category{
    background-color: #FFFFFF;
    box-shadow: var(--box-shadow);
    padding:25px;
    width:70px;
    text-align:center;
    border-radius:50%;
    margin-left:10px;
    margin-top:10px;
}
.first-product-theme{
    background-color:#16c77a;
    color:white;
}
.second-product-theme{
    background-color:#F6C065;
    color:white;
}
.third-product-theme{
    background-color:#EB596E;
    color:white;
}
.selling-products-table{
    width:100%;
    margin-top:20px;
    background-color: lightgrey;
}
.table-header{
    background-color: #dce0e7;
}
.table-header th{
    padding:5px;
    text-align:center;
}
.table-info{
  background-color:white;
    text-align:center;
}
