@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


:root{
    --box-shadow:rgba(0,0,0,0.16) 0px 1px 4px;
}

*{
    margin:0px;
    padding:0px;
    font-family: 'Poppins','sans-serif';
    list-style: none;
}
main{
    display:grid;
    grid-template-columns: 0.5fr 2fr;
    background-color: #F5F7FA;
}
.container{
    padding-bottom:50px;
}
.logo-section{
    display:flex;
    background-color:#2d2d2d;
    color:white;
    padding-left:20px;
    font-size:25px;
    border-bottom:1px solid grey;
}
.logo-section img{
    width:40px;
    height:50px;
}
.sidebar{
    background-color:#2d2d2d;
}
.dashboard{
    color:white;
    z-index:1000;
    min-height: 100vh;
}
.time-display{
    margin-top:30px;
    padding-left:10px
}
.time-display .date{
    font-size:16px;
}
.time-display .time{
    font-size:30px;
}
.dashboard ul{
    margin-top:30px;
    padding-left:10px;

}
.dashboard ul li{
    display:flex;
    padding:10px;
    margin-right:10px;
}
.dashboard ul li.active{
    cursor:pointer;
    background-color: #FFFFFF;
    color:black;
}
.dashboard ul li:hover{
    cursor:pointer;
    background-color: #FFFFFF;
    color:black;
}
.dashboard a{
    color:white;
    text-decoration: none;
}
.title{
    font-size:20px;
    margin-left:10px;
}
.menu,.orders,.dashicon,.log-out,.users,.settings{
    margin-top:6px;
    font-size:20px;
}
.activity-section{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    background-color:#F5F7FA;
}
.total-orders-box,.total-amount-box,.total-sales-box{
    height:260px;
    width:340px;
    background-color:#FFFFFF;
    box-shadow: var(--box-shadow);
    margin-top:50px;
    border-radius:5px;
    background-color:#2d2d2d;
    color:white;

}
.total-orders-box{
    width:320px;
    margin-left:20px;
}
.icon-box{
    margin-left:20px;
    margin-top:20px;
    width:50px;
    height:50px;
    border-radius:50%;
    background-color:white;
}
.icon-box .icon{
    font-size:25px;
    color:white;
    margin-left:10px;
    margin-top:10px;
    color:black;
}
.text-info{
    margin-top:100px;
    margin-left:20px;
}
.info{
  font-size:15px;
}
.subinfo{
    font-size:30px;
}
.display-info-container{
   display:grid;
   grid-template-columns:1fr 1fr;
    margin-left:20px;
    margin-top:20px;
}
.sales-container{
    border:1px solid #dce0e7;
    width:97%;
    min-height:15vh;
    margin-left:20px;
    margin-top:20px;
    border-radius:5px;
    background-color: #FFFFFF;
    box-shadow:var(--box-shadow);
}
.sales-container h1{
    text-align:center;
    text-decoration: underline;
    font-size:25px;
    margin-top:10px;
}
.sales-container ul{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    border-bottom:1px solid black;
    margin-left:20px;
    margin-top:10px;
    width:95%;
}
.sales-container .button-container{
    margin-top:10px;
    text-align:center;
}
.all-sales-button,.cashiers-button,.view-sales-button{
    padding:5px 20px;
    border:1px solid #dce0e7;
    color:black;
    border-radius:5px;
    cursor:pointer;
}
.all-sales-button{
    background-color: green;
    color:white;
}
.cashiers-button:hover{
    background-color: rgb(214, 214, 48);
    color:white;
    border:none;
}
.view-sales-button:hover{
    background-color: #2666CF;
    color:#FFFFFF;
}
.sales-loader{
   display:none;
}
.sales-loader h1{
    text-decoration:none;
    font-size:25px;
}
.sale{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    margin-left:20px;
    padding:10px 0px;
    border-bottom:1px solid #dce0e7;
}
.products-container{
    margin-left:20px;
    margin-top:20px;
    min-height:20vh;
    width:97%;
    border:1px solid #dce0e7;
    background-color: #FFFFFF;
    box-shadow:var(--box-shadow);
}
.products-heading{
    display:flex;
    justify-content:space-between;
    padding:10px 20px;
}
.products-heading h1{
    font-size:25px;
}
.products-buttons .in-stock,.products-buttons .out-of-stock,.view-products-button{
    padding:8px 20px;
    cursor:pointer;
    background:transparent;
    color:black;
    border:1px solid #dce0e7;
    border-radius:3px;
}
.products-buttons button:hover{
    background-color: #2666CF;
    color:white;
}
.products-buttons .in-stock{
    background-color: #2666CF;
    color:white;
}
.products-butttons .out-of-stock{
    visibility:hidden;
}
.active{
    background-color: #2666CF;
    color:white;
}
.products-container #in-stock-heading{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    border-bottom:1px solid black;
    margin-left:20px;
    width:95%;
}
.products-container #in-stock-heading li{
    font-weight:bolder;
}
.products-loader{
    display:none;
 }
 .products-loader h1{
     text-decoration:none;
     font-size:25px;
     text-align:center;
 }
.product{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    margin-left:20px;
    padding:10px 0px;
    border-bottom:1px solid #dce0e7;
}
.stock-box p{
    color:green;
}
.price-box{
    margin-left:-10px;
}
