@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


:root{
    --box-shadow:rgba(0,0,0,0.16) 0px 1px 4px;
}

*{
    margin:0px;
    padding:0px;
    font-family: 'Poppins','sans-serif';
    list-style: none;
}
main{
    display:grid;
    grid-template-columns: 0.7fr 2fr 1fr;
}
.logo-section{
    display:flex;
    background-color:#2d2d2d;
    color:white;
    padding-left:20px;
    font-size:25px;
    border-bottom:1px solid grey;
}
.logo-section img{
    width:40px;
    height:50px;
}
.sidebar{
    background-color:#2d2d2d;
}
.dashboard{
    color:white;
    z-index:1000;
    min-height: 100vh;
}
.time-display{
    margin-top:30px;
    padding-left:10px
}
.time-display .date{
    font-size:16px;
}
.time-display .time{
    font-size:30px;
}
.dashboard ul{
    margin-top:30px;
    padding-left:10px;

}
.dashboard ul li{
    display:flex;
    padding:10px;
    margin-right:10px;
}
.dashboard ul li.active{
    cursor:pointer;
    background-color: #FFFFFF;
    color:black;
}
.dashboard ul li:hover{
    cursor:pointer;
    background-color: #FFFFFF;
    color:black;
}
.dashboard a{
    color:white;
    text-decoration: none;
}
.title{
    font-size:20px;
    margin-left:10px;
}
.menu,.orders,.dashicon,.log-out,.users,.settings{
    margin-top:6px;
    font-size:20px;
}

                                         /* SECTION-TWO */
.products-overview{
    background-color:#FFFFFF;
    margin-top:40px;
}
.second-section input{
    padding:10px;
    width:70%;
    outline:none;
    border:1px solid grey;
    appearance: none;
    margin-left:50px;
}
.second-section button{
    border:none;
    background: transparent;
}
.second-section button:active{
    transform:scale(0.8);
    transition:transform 300ms;
}
.second-section .search{
     font-size:18px;
     padding:15px;
     transform:translate(15px,20px);
     background-color: #F5F7FA;
     border-radius:10px;
     cursor:pointer;
}
.products-display{
    min-height:100vh;
}
.product-heading{
    background-color:#2d2d2d;
    color: #FFFFFF;
    margin-top:30px;
    padding:10px;
    margin-left:5px;
    margin-right:5px;
    font-size:30px;
    letter-spacing:2px;

}
.fruits-section{
    margin-top:10px; 
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    column-gap:2px;
}
.fruits-section h1{
    margin-left:30px;
}
.fruit{
    height:230px;
    width:150px;
    box-shadow: var(--box-shadow);
    border-radius:10px;
    margin-top:20px;
    margin-left:15px;
    cursor:pointer;
}
.fruit-img{
    width:150px;
    height:120px;
}
.fruit-info{
    text-align:center;
}
.fruit-info .fruit-name{
    font-size:20px;
    font-weight: bolder;
}
.fruit-info .fruit-price{
    color:orangered;
    font-size:18px;
    font-weight: bold;
}
.button-box button{
    background:transparent;
    border:none;
    appearance: none;
    margin-left:40%;
    margin-top:6px;
}
.button-box button .cart{
     color:orangered;
     font-size:30px;
     cursor:pointer;
}


                                        /* SECTION THREE */
.order-sidebar{
    background-color:#2d2d2d;
    color:white;
}
.user-info{
    display:flex;
    margin-top:10px;
    margin-left:10px;
}
.user-info .user{
    font-size:30px;
}
.user-info p{
    font-size:18px;
    margin-top:10px;
}
.admin{
    margin-left:40px;
    background-color:green;
    color:#FFFFFF;
    padding:7px;
    max-width:60px;
    cursor: pointer;
    border-radius:20px;
}
.cashier{
    margin-left:40px;
    background-color:rgb(214, 214, 48);
    color:#FFFFFF;
    padding:7px;
    max-width:60px;
    cursor: pointer;
    border-radius:20px;
}
.order-section{
    position:relative;
    padding-top:10px;
    min-height:10vh;
}
.order-section h3{
    text-align:center;
    font-size:25px;
    border-bottom:1px solid grey;
}
.no-orders-alert{
   position:absolute;
   top:50%;
   left:50%;
   transform:translate(-50%,-50%);
   margin-top:50px;
}
.no-orders-alert .no-order{
    margin-left:50px;
    color:red;
    font-size:25px;
}
.clear-all-orders{
    background:transparent;
    background-color:red;
    color:white;
    padding:7px;
    border-radius:5px;
    margin-left:78%;
    cursor:pointer;
    border:none;
    margin-top:10px;
    display:none;
}
.order{
    display: flex;
    justify-content: space-between;
    border:1px solid grey;
    margin-top:10px;
    width:85%;
    margin-left:20px;
    border-radius:5px;
    padding:10px;
}
.order-first-section{
    display:flex;
}
.order-image-box img{
    border-radius:10px;
   width:60px;
   height:60px;
}
.order-info{
    margin-left:10px;
}
.order-info .order-name{
    font-size:20px;
}
.order-quantity-box{
    display:flex;
    margin-top:5px;
}
.order-quantity-box button{
    background:transparent;
    background-color:#121212;
    color:white;
    border:none;
    padding:2px 10px;
    border-radius:5px;
    cursor:pointer;
}
.order-add-button{
    margin-left:15px;
}
.order-quantity-box p {
    font-size:20px;
    margin-left:15px;
}
.order-price-box .order-price{
    font-size:20px;
}
.order-second-section button{
    background:transparent;
    border:none;
    margin-top:10px;
    cursor:pointer;
}
.order-second-section button .order-delete{
    color:red;
    font-size:20px;
}
.order-summary{
    margin-top:50px;
    border-top:1px solid grey;
}
.total{
    display: flex;
    justify-content: space-between;
    padding:10px;
    border-bottom:1px solid grey;
}
.total p{
    font-size:25px;
    margin-left:10px;
}
.total span{
    font-weight:bolder;
    font-size:25px;
    margin-right:20px;
}
.loading-order-box{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border-radius: 10px;
    height:120px;
    width:130px;
    backdrop-filter: blur(20px);
    display:none;
}

.loading-order{
    border:7px solid #F5F7FA;
    border-top:7px solid #2666CF;
    margin:25px auto;
    height:50px;
    width:50px;
    transform:rotate(0deg);
    border-radius:50%;
    animation:rotate 1s linear infinite;
} 

@keyframes rotate{
    0%{
        transform:rotate(0deg)
    }
    100%{
        transform:rotate(360deg)
    }
}

.payment-section{
    margin-top:20px;
}
.payment-section h3{
    text-align: center;
    font-size:30px;
} 
.icon-cash{
    font-size:20px;
}
.icon-card{
    font-size:20px;

}
.icon-wallet{
    font-size:20px;
}
.payment-section ul{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left:20px;
}
.payment-section ul li{
    border:3px solid grey;
    padding:10px 0px;
    text-align:center;
    width:100px;
    border-radius:10px;
    cursor:pointer;
}
.active{
    background-color: #FFFFFF;
    border:none;
    color:black;
}
.payment-section ul li:hover{
    background-color: #FFFFFF;
    border:none;
    color:black;
    transition: background-color 500ms;
}
.payment-section button{
    background-color: #FFFFFF;
    color:black;
    font-size:18px;
    border:none;
    padding:12px 30px;
    border-radius:5px;
    margin-left:100px;
    margin-top:20px;
    cursor:pointer;
}

.loader-box{
    background-color:#2d2d2d2d;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border-radius: 10px;
    height:120px;
    width:130px;
    backdrop-filter: blur(20px);
    display:none;
}

.loader{
    border:7px solid white;
    border-top:7px solid #2666CF;
    margin:25px auto;
    height:50px;
    width:50px;
    transform:rotate(0deg);
    border-radius:50%;
    animation:rotate 1s linear infinite;
} 

@keyframes rotate{
    0%{
        transform:rotate(0deg)
    }
    100%{
        transform:rotate(360deg)
    }
}
.customer-info-box{
    position:relative;
}
.customer-info{
    display:flex;
    flex-direction:column;
    padding:20px;
}
.customer-info input{
     background-color:#2d2d2d;
     border:none;
     border:1px solid grey;
     padding:10px 15px;
     margin-top:10px;
     border-radius:5px;
     outline:none;
     appearance: none;
     color:white;
}
.customer-info input[type="submit"]:hover{
       background-color:#FFFFFF;
       color:black;
       font-weight:300;
       cursor:pointer;
       transition: background-color 500ms;
}
.customer-info input::placeholder{
    color:white;
}

.customer-loader-box{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border-radius: 10px;
    height:120px;
    width:130px;
    backdrop-filter: blur(20px);
    display:none;
}

.customer-loader{
    border:7px solid #F5F7FA;
    border-top:7px solid #2666CF;
    margin:25px auto;
    height:50px;
    width:50px;
    transform:rotate(0deg);
    border-radius:50%;
    animation:rotate 1s linear infinite;
} 

@keyframes rotate{
    0%{
        transform:rotate(0deg)
    }
    100%{
        transform:rotate(360deg)
    }
}