@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


:root{
    --box-shadow:rgba(0,0,0,0.16) 0px 1px 4px;
}

*{
    margin:0px;
    padding:0px;
    font-family: 'Poppins','sans-serif';
    list-style: none;
}
main{
    display:grid;
    grid-template-columns: 0.5fr 3fr;
}
.logo-section{
    display:flex;
    background-color:#2d2d2d;
    color:white;
    padding-left:20px;
    font-size:25px;
    border-bottom:1px solid grey;
}
.logo-section img{
    width:40px;
    height:50px;
}
.sidebar{
    background-color:#2d2d2d;
}
.dashboard{
    color:white;
    min-height: 100vh;
}
.time-display{
    margin-top:30px;
    padding-left:10px
}
.time-display .date{
    font-size:16px;
}
.time-display .time{
    font-size:30px;
}
.dashboard ul{
    margin-top:30px;
    padding-left:10px;

}
.dashboard ul li{
    display:flex;
    padding:10px;
    margin-right:10px;
}
.dashboard ul li.active{
    cursor:pointer;
    background-color: #FFFFFF;
    color:black;
}
.dashboard ul li:hover{
    cursor:pointer;
    background-color: #FFFFFF;
    color:black;
}
.dashboard a{
    color:white;
    text-decoration: none;
}
.title{
    font-size:20px;
    margin-left:10px;
}
.menu,.orders,.dashicon,.log-out,.users,.settings{
    margin-top:6px;
    font-size:20px;
}

                                         /* SECTION-TWO */
.products-overview{
    background-color:#FFFFFF;
    margin-top:40px;
}
.second-section{
    display:flex;
    height:40px;
}
.second-section input{
    padding:6px;
    width:70%;
    outline:none;
    border:1px solid grey;
    appearance: none;
    margin-left:50px;
    position:relative;
}
.second-section .hamburger{
    display:block;
    margin-left:20px;
    width:25px;
    position:relative;
    outline:none;
    appearance: none;
    cursor: pointer;
    background: none;
    border:none;
}
.hamburger .bar,.hamburger::before,.hamburger::after{
    content:'';
    display:block;
    background-color:#000;
    margin:3px 0px;
    width:100%;
    height:4px;
}
.items-box{
    display:flex;
   justify-content:space-evenly;
    overflow-x:auto;
    padding:5px;
    margin-top:10px;;
}
.items-box > div{
    background-color: #F5F7FA;
    box-shadow: var(--box-shadow);
    border-radius:5px;
    width:100px;
    height:100px;
    padding:0px 5px;
    cursor: pointer;
}
.items-box > div:hover{
    border:2px solid #2666CF;
    transform:scale(0.9);
    transition:all 200ms;
}
.items-box > div p{
    font-weight:bolder;
    text-align:center;
    margin-top:5px;
}
.active-item{
    border:2px solid #2666CF;
    cursor:pointer;
}
.items-box img{
    width:50px;
    height:50px;
    display:flex;
    margin:auto;
    margin-top:10px;
}
.products-display{
    min-height:100vh;
    position:relative;
}
.product-heading{
    background-color:#2d2d2d;
    color: #FFFFFF;
    margin-top:30px;
    padding:10px;
    margin-left:5px;
    margin-right:5px;
    font-size:30px;
    letter-spacing:2px;
}
.setQuantity-container{
    position:absolute;
    top:0;
    left:0;
   width:100%;
   min-height:100vh;
   background:rgba(0,0,0,0.8);
   display:none;
}
.setQuantity-form{
    position:absolute;
    top:40%;
    left:50%;
    transform:translate(-50%,-50%);
    background:#FFFFFF;
    padding:15px;
    text-align:center;
    border-radius:5px;
}
.setQuantity-form input[type="number"]{
    border:1px solid #dec0de;
    appearance: none;
    outline:none;
    padding:5px;
    padding-left:10px;
}
.setQuantity-buttons{
    margin-top:10px;
}
.setQuantity-buttons input[type="submit"]{
   background-color:#2666CF;
   color:white;
   padding:5px 15px;
   cursor:pointer;
   border:none;
   border-radius: 5px;
}
.setQuantity-buttons button{
    background-color:red;
    color:white;
    padding:5px 20px;
    cursor:pointer;
    border:none;
   border-radius: 5px;
}
.fruits-section{
    margin-top:10px; 
    display:flex;
    flex-wrap:wrap;
}
.fruits-section h1{
    margin-left:30px;
}
.fruit{
    width:210px;
    box-shadow: var(--box-shadow);
    border-radius:10px;
    margin-top:20px;
    margin-left:15px;
    cursor:pointer;
    display:flex;
}
.fruit:hover{
    --box-shadow:rgba(0,0,0,0.16) 0px 1px 20px;

}
.fruit-img{
    width:100px;
    height:100px;
}
.fruit-info-section{
    display:flex;
    flex-direction:column;
}
.initial-quantity-box{
    display:flex;
    margin-top:10px;
    padding-bottom:10px;
}
.initial-quantity-box .quantity-subtract{
     border-radius:50%;
     width:30px;
     height:30px;
     background-color: lightgrey;
     color:black;
     border:none;
     font-size:20px;
    cursor: pointer;
}
.initial-quantity-box input[type="text"]{
    width:30px;
    height:30px;
    border:none;
    font-size:18px;
    text-align:center;
    outline:none;
    appearance:none;
}
.initial-quantity-box .quantity-add{
    border-radius:50%;
    width:30px;
    height:30px;
    background-color:#2666CF;
    color:white;
    border:none;
    font-size:20px;
    cursor: pointer;
}
.initial-quantity-box .quantity-add:active,.quantity-subtract:active{
    background-color: #2666CF;
    color:white;
    cursor: pointer;
}
.fruit-info .fruit-name{
    font-size:20px;
    font-weight: bolder;
    margin-top:10px;
}
.fruit-info .fruit-price{
    color:orangered;
    font-size:20px;
    font-weight: bold;
    margin-top:5px;
}

                                        /* SECTION THREE */
.order-container{
    position:fixed;
    right:-100%;
    top:0;
    z-index:1000;
    width:100%;
    min-height:100vh;
    background-color:rgba(0,0,0,0.8);
    transition:0.5s;
}
.hamburger-active{
   right:0%;
}
.order-close{
    position:absolute;
    right:27%;
    top:20px;
}
.order-close button{
  background:transparent;
  border:2px solid white;
  width:45px;
  height:45px;
  display:flex;
  cursor:pointer;
}
.order-close .close-icon{
   font-size:25px;
   color:white;
   margin:auto;
}
.order-sidebar{
    position:fixed;
    right:-100%;
    top:0;
    height:100vh;
    width:350px;
    background-color:#2d2d2d;
    color:white;
    transition: 0.5s;
}
.order-active{
    right:0%;
}
.user-info{
    display:flex;
    margin-top:10px;
    margin-left:10px;
}
.user-info .user{
    font-size:30px;
}
.user-info p{
    font-size:18px;
    margin-top:10px;
}
.admin{
    margin-left:40px;
    background-color:green;
    color:#FFFFFF;
    padding:7px;
    max-width:60px;
    cursor: pointer;
    border-radius:20px;
}
.cashier{
    margin-left:40px;
    background-color:rgb(214, 214, 48);
    color:#FFFFFF;
    padding:7px;
    max-width:60px;
    cursor: pointer;
    border-radius:20px;
}
.order-section{
    position:relative;
    padding-top:10px;
    min-height:10vh;
}
.current-order-box{
    display:flex;
    justify-content: space-between;
    border-bottom:1px solid grey;
}
.order-section h3{
    font-size:25px;
    margin-left:10px;
    margin:auto;
}
.no-orders-box{
    display:flex;
}
.no-orders-alert{
   display:flex;
   margin:auto;
   margin-top:5px;
}
.no-orders-alert .no-order{
    margin-left:50px;
    color:red;
    font-size:25px;
}
.clear-all-orders{
    background:transparent;
    background-color:red;
    color:white;
    border-radius:5px;
    padding:5px;
    cursor:pointer;
    border:none;
    margin-right:20px;
    margin-bottom:5px;
    opacity: 0.5;
    display:none;
}
.clear-all-orders:hover{
    opacity:1;
}
.clear-all-orders .clear-all-icon{
    font-size:17px;
}
.orders-alert{
    width: 95%;
    height:150px;
    overflow:auto;
    display:none;
}

.orders-alert::-webkit-scrollbar {
    width:10px;
  }
  .orders-alert::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  .orders-alert::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
.order{
   display:grid;
   grid-template-columns: 1.5fr 1fr 1fr 0.2fr;
    border-bottom:1px solid #dec0de;
    margin-left:10px;
    padding:10px 5px;
    width:93%;
}
.order button{
    background:transparent;
    border:none;
    cursor:pointer;
}
.order-delete{
    color:white;
    font-size:20px;
    font-weight:bolder;
}
.order-delete:hover{
    color:red;
}
.order-summary{
    margin-top:10px;
    border-top:1px solid grey;
}
.total{
    display: flex;
    justify-content: space-between;
    padding:10px;
    border-bottom:1px solid grey;
}
.total p{
    font-size:25px;
    margin-left:10px;
}
.total span{
    font-weight:bolder;
    font-size:25px;
    margin-right:20px;
}
.loading-order-box{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border-radius: 10px;
    height:120px;
    width:130px;
    backdrop-filter: blur(20px);
    display:none;
}

.loading-order{
    border:7px solid #F5F7FA;
    border-top:7px solid #2666CF;
    margin:25px auto;
    height:50px;
    width:50px;
    transform:rotate(0deg);
    border-radius:50%;
    animation:rotate 1s linear infinite;
} 

@keyframes rotate{
    0%{
        transform:rotate(0deg)
    }
    100%{
        transform:rotate(360deg)
    }
}

.payment-section{
    margin-top:20px;
}
.payment-section h3{
    margin-left:20px;
    font-weight: lighter;
} 
.payment-section ul{
    display:flex;
    justify-content: space-between;
    margin-left:5px;
    margin-top:10px;
}
.payment-section ul li{
    border:1px solid grey;
    margin:auto;
    border-radius:5px;
    cursor:pointer;
    padding:5px 10px;
    display:flex;
}
.payment-section ul li > img{
    width:30px;
}
.payment-section ul li p:nth-child(2){
    font-size:18px;
    margin-left:5px;
}
.active{
    background-color: #FFFFFF;
    border:none;
    color:black;
}
.payment-section ul li:hover{
    background-color: #FFFFFF;
    border:none;
    color:black;
    transition: background-color 500ms;
}
.payment-section button{
    background-color: #FFFFFF;
    color:black;
    font-size:18px;
    border:none;
    border-radius:5px;
    margin-left:100px;
    margin-top:20px;
    cursor:pointer;
}

.loader-box{
    background-color:#2d2d2d2d;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border-radius: 10px;
    height:120px;
    width:130px;
    backdrop-filter: blur(20px);
    display:none;
}

.loader{
    border:7px solid white;
    border-top:7px solid #2666CF;
    margin:25px auto;
    height:50px;
    width:50px;
    transform:rotate(0deg);
    border-radius:50%;
    animation:rotate 1s linear infinite;
} 

@keyframes rotate{
    0%{
        transform:rotate(0deg)
    }
    100%{
        transform:rotate(360deg)
    }
}
.customer-info-box{
    position:relative;
}
.customer-info{
    display:flex;
    flex-direction:column;
    padding:20px;
}
.customer-info input{
     background-color:#2d2d2d;
     border:none;
     border:1px solid grey;
     padding:10px 15px;
     margin-top:10px;
     border-radius:5px;
     outline:none;
     appearance: none;
     color:white;
}
.customer-info input[type="submit"]:hover{
       background-color:#FFFFFF;
       color:black;
       font-weight:300;
       cursor:pointer;
       transition: background-color 500ms;
}
.customer-info input::placeholder{
    color:white;
}

.customer-loader-box{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border-radius: 10px;
    height:120px;
    width:130px;
    backdrop-filter: blur(20px);
    display:none;
}

.customer-loader{
    border:7px solid #F5F7FA;
    border-top:7px solid #2666CF;
    margin:25px auto;
    height:50px;
    width:50px;
    transform:rotate(0deg);
    border-radius:50%;
    animation:rotate 1s linear infinite;
} 

@keyframes rotate{
    0%{
        transform:rotate(0deg)
    }
    100%{
        transform:rotate(360deg)
    }
}