@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


:root{
    --box-shadow:rgba(0,0,0,0.16) 0px 1px 4px;
}
*{
    margin:0px;
    padding:0px;
    font-family: 'Poppins','sans-serif';
    list-style: none;
}
main{
    display:grid;
    grid-template-columns: 0.7fr 3fr;
    height: 100vh;
    overflow: hidden;
}
.logo-section{
    display:flex;
    background-color:#2d2d2d;
    color:white;
    padding-left:20px;
    font-size:25px;
    border-bottom:1px solid grey;
}
.logo-section img{
    width:40px;
    height:50px;
}
.sidebar{
    background-color:#2d2d2d;
    z-index:100;
}
.dashboard{
    color:white;
}
.time-display{
    margin-top:30px;
    padding-left:10px
}
.time-display .date{
    font-size:16px;
}
.time-display .time{
    font-size:30px;
}
.dashboard ul{
    margin-top:30px;
    padding-left:10px;

}
.dashboard ul li{
    display:flex;
    padding:10px;
    margin-right:10px;
}
.dashboard ul li.active{
    cursor:pointer;
    background-color: #FFFFFF;
    color:black;
}
.dashboard ul li:hover{
    cursor:pointer;
    background-color: #FFFFFF;
    color:black;
}
.dashboard a{
    color:white;
    text-decoration: none;
}
.title{
    font-size:20px;
    margin-left:10px;
}
.menu,.orders,.dashicon,.log-out,.users,.settings{
    margin-top:6px;
    font-size:20px;
}
.orders-section{
    background-color:#F5F7FA;
    padding:30px;
}
.orders-section h1{
    border-bottom:1px solid grey;
    margin-top:30px;
    margin-left:30px;
    font-size:30px;
}
.order-details-box{
    background-color: #FFFFFF;
    box-shadow: var(--box-shadow);
    margin-left:30px;
    min-height:30vh;
    margin-top:20px;
    border-radius:5px;
}
.order-details-box ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top:10px;
    border-bottom:1px solid grey;
}
.order-details-box ul li{
    text-align:center;
    height:100%;
}
.customer-info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding:10px;
    border-bottom:1px solid grey;
    margin-top:10px;
}
.customer-info li{
    text-align:center;
}
.status{
    font-weight:bolder;
    color:green;
}
.customer-info button{
    width:50%;
    margin-left:60px;
    border:none;
    background-color: #2666CF;
    color:white;
    border-radius:5px;
    padding:5px;
    cursor:pointer;
}
.customer-info button:active{
   transform: scale(0.9);
   transition: transform 300ms;
}
.popup-order-summary{
    position:absolute;
    left:0;
    top:0;
    display:none;
    width:100%;
    height:100vh;
    z-index:9999;
    background:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75));
}
.popup-box{
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color:#FFFFFF;
    box-shadow: var(--box-shadow);
    width:70%;
    min-height:20vh;
    margin-left:100px;
}
.popup-heading{
    display:flex;
    justify-content: space-between;
    padding:10px;
}
.popup-heading h1{
    font-size:30px;
    margin-left:30px;
}
.popup-heading .close{
    font-size:35px;
    margin-right:20px;
}
.order{
    display:flex;
    justify-content: space-around;
    border-top:1px solid grey;
}

.order-image-box img{
    width:100px;
    height:100px;
}
.bottom-section{
    display:flex;
    justify-content:space-between;
    border-top:1px solid grey;
    padding:10px;
    display:none;
}
.bottom-section h2{
    margin-left:30px;
}
.print-box{
    margin-right:30px;
}
.bottom-section button{
    background-color:#2666CF;
    color:white;
    border:none;
    font-size:17px;
    border-radius:5px;
    padding:5px 40px;
    cursor: pointer;
}
.loader-box{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:100%;
    display:none;
}
.loader-box h1{
    margin-left:50%;
}