@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


:root{
    --box-shadow:rgba(0,0,0,0.16) 0px 1px 4px;
}

*{
    margin:0px;
    padding:0px;
    font-family: 'Poppins','sans-serif';
    list-style: none;
}

main{
    background-color: #F5F7FA;
    min-height: 100vh;
}
form{
    background-color: #FFFFFF;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    padding:30px;
    width: 300px;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
}
form h3{
    text-align:center;
    font-size:35px;
    text-transform: uppercase;
    font-weight:bold;
}
form input[type="text"]{
    border:1px solid grey;
    outline:none;
    appearance:none;
    padding:10px 30px;
    border-radius: 5px;
    margin-top:10px;
    padding-left:10px;
}
form select{
    border:1px solid grey;
    outline:none;
    appearance:none;
    padding:10px 30px;
    border-radius:5px;
    margin-top:10px;
    padding-left:10px;
    padding-right:30px;


}
form input[type="password"]{
    border:1px solid grey;
    outline:none;
    appearance:none;
    padding:10px 30px;
    border-radius:5px;
    margin-top:10px;
    padding-left:10px;
}
.link-one{
    text-decoration: none;
    font-weight: bold;
    margin-top:5px;
    margin-left:155px;
}
form input[type="submit"]{
    padding:8px;
    background-color:#0cdd63;
    color:white;
    border-radius:5px;
    font-size:18px;
    border:none;
    cursor:pointer;
    margin-top:10px;
}
.link-two{
    text-decoration: none;
    font-weight: bold;
    margin-left:5px;
    text-decoration: underline;
}
.link-two:hover{
    text-decoration: none;
}
form h4{
    margin:auto;
    margin-top:10px;
}
