@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


:root{
    --box-shadow:rgba(0,0,0,0.16) 0px 1px 4px;
}
*{
    margin:0px;
    padding:0px;
    font-family: 'Poppins','sans-serif';
    list-style: none;
}
main{
    display:grid;
    grid-template-columns: 0.7fr 3fr;
    height: 100vh;
    overflow: hidden;
}
.logo-section{
    display:flex;
    background-color:#2d2d2d;
    color:white;
    padding-left:20px;
    font-size:25px;
    border-bottom:1px solid grey;
}
.logo-section img{
    width:40px;
    height:50px;
}
.sidebar{
    background-color:#2d2d2d;
}
.dashboard{
    color:white;
    z-index:1000;
}
.time-display{
    margin-top:30px;
    padding-left:10px
}
.time-display .date{
    font-size:16px;
}
.time-display .time{
    font-size:30px;
}
.dashboard ul{
    margin-top:10px;
    padding-left:10px;

}
.dashboard ul li{
    display:flex;
    padding:10px;
    margin-right:10px;
}
.dashboard ul li.active{
    cursor:pointer;
    background-color: #FFFFFF;
    color:black;
}
.dashboard ul li:hover{
    cursor:pointer;
    background-color: #FFFFFF;
    color:black;
}
.dashboard a{
    color:white;
    text-decoration: none;
}
.title{
    font-size:20px;
    margin-left:10px;
}
.menu,.orders,.dashicon,.log-out,.users,.settings{
    margin-top:6px;
    font-size:20px;
}

.users-section{
    background-color:#F5F7FA;
    padding:30px;
}
.users-section h1{
    border-bottom:1px solid grey;
    margin-top:30px;
    margin-left:30px;
    font-size:30px;
}
.find-cashier-box{
    margin-left:80%;
    margin-top:20px;
}
.find-cashier-box button{
    padding:10px;
    background-color:#2666CF;
    border:none;
    border-radius:5px;
    color:white;
    cursor:pointer;
}
.find-cashier-box button:active{
    transform:scale(0.8);
    transition: transform 300ms;
}
.search{
    font-size:16px;
    color:white;
    margin-right:5px;
}
.find-cashier-popup{
    display: none;
}
.find-cashier-heading{
    display:flex;
    justify-content: space-between;
}
.close{
    font-size:20px;
    cursor:pointer;
}
.find-cashier-popup form{
    display:flex;
    flex-direction:column;
    gap:10px;
    padding:15px;
    max-width:300px;
    background-color: #FFFFFF;
    margin:auto;
    box-shadow: var(--box-shadow);
}
form input{
    padding:10px;
    outline:none;
    appearance: none;
    border:none;
    border:1px solid grey;
    border-radius:5px;
}
form input[type="submit"]{
    background-color:#2666CF;
    color:white;
    font-size:18px;
    font-weight:300;
    border:none;
    cursor:pointer;
}
.users-box{
    background-color: #FFFFFF;
    box-shadow: var(--box-shadow);
    margin-left:30px;
    min-height:30vh;
    margin-top:20px;
    border-radius:5px;
}
.users-box ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top:15px;
    border-bottom:1px solid grey;
}
.users-box ul li:first-child{
    padding-left:50px;
}
.user{
    display:grid;
    grid-template-columns: 0.8fr 1fr 1fr;
    padding:10px 0px;
    box-shadow: var(--box-shadow);
    margin-top:15px;
}
.display-users li:first-child{
    padding-left:50px;
}
.admin{
    color:#0cdd63;
  font-weight:bolder;
}
.cashier{
    color:rgb(155, 155, 11);
    font-weight:bolder;
}
.user-delete{
    font-size:20px;
    color:red;
    cursor:pointer;
}
.loader-box{
    position:absolute;
    top:45%;
    left:60%;
    transform:translate(-50%,-50%);
    display:none;
}
.loader-box h1{
    font-size:30px;
}
